*{
    background-color: #302e2b;
}

#root{
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
}

.squareRow{

    display: flex;
}

.square{
    height:75px;
    width: 75px;
}
.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656;
}